{% extends 'base.html.twig' %}

{% block body %}
    <br/><br/>  
    <div class="row">
      <div class="medium-6 columns">
        <h4>Welcome to the IberoStar Monastir Hotel</h4>
        <img class="thumbnail" src="{{ asset('images/IbroStarMonastirHotel.jpg') }}">
      </div>
      <div class="medium-6 large-5 columns">
        <p>The Original name of IberoStar is Kuriat Palace,   after 20 years from his stopped, our new hotel is revived but with a new look. Located in the tourist area of Monastir, between Sousse and Monastir on a Mediterranean sandy beach, and opposite the Habib Bourgiba airport.</p>
        <p>And the not-to-miss IberoStar Cafe is a great place for travelers and locals to engage over drinks, food, and good conversation. </p>
        <p>To learn more about the IbroStar Hotel in the West End, browse our website and download our handy information sheet.</p>
      </div>
    </div>

{% endblock %}
